In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

       My_City My_Gender  My_Population
0     New York      Male        4125000
1     New York    Female        4300000
2  Los Angeles      Male        1985000
3  Los Angeles    Female        2070000
4      Phoenix      Male       99800000

In [6]:
df_male = df[df['My_Gender']=='Male']

In [9]:
gr = df_male.groupby('My_City')['My_Population'].sum().nlargest()
gr

My_City
Phoenix        200400000
New York       103250000
Los Angeles      1985000
Chicago          1350000
Houston          1100000
Name: My_Population, dtype: int64